@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.footer {
    background-color: #FFCE87;
    padding: 0px 10px 20px 10px;
}

.footer-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer-main {
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
}

.footer-columns>.submain {
    font-weight: 400;
    margin: 5px;
}

.footer-line {
    border-bottom: 1px solid black;
    transform: rotate(120);
}